@{
    Layout = "_Layout";
}

@model WebSchool.Models.RegistrationLink.GenerateLinksInputModel

<div class="row">
    <div class="col-md-6 offset-3">
        <form method="post" asp-area="Admin" asp-controller="Administration" asp-action="GenerateLinks">
            <div asp-validation-summary="All"></div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Role</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" name="role">
                    <option selected>Choose...</option>
                    <option value="Teacher">Teacher</option>
                    <option value="Student">Student</option>
                </select>
            </div>

            <div class="form-group">
                <textarea class="form-control" rows="5" asp-for="Emails" placeholder="Example: custom@@gmail.com, another@@yahoo.com" name="emails"></textarea>
            </div>
            <button class="btn btn-primary w-100">Generate Links</button>
        </form>
    </div>
</div>

<partial name="_GeneratedLinksTable" />