@using WebSchool.ViewModels.Application
@model ApplicationViewModel[]

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Applications";
}

<main class="container col-md-8 offset-md-2">
    <h1>Applications</h1>

    <!-- Applications table -->
    <table class="table table-striped w-100">
        <thead>
            <tr>
                <th>Applicant</th>
                <th>Role</th>
                <th width="10%">Approve</th>
                <th width="10%">Decline</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var applicant in Model)
                {
                    <tr>
                        <td class="align-middle">@applicant.Applicant</td>
                        <td>
                            <div>
                                <select class="form-control m-0 role-select">
                                    <option>Student</option>
                                    <option>Teacher</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <form class="application-form">
                                <input type="hidden" value="@ViewData["GroupId"]" name="groupId" />

                                <input type="hidden" value="@applicant.ApplicantId" name="applicantId" />

                                <input type="hidden" value="Student" name="role" />
                            </form>

                            <button class="btn btn-success w-100 approve-button"><i class="fas fa-check"></i></button>
                        </td>
                        <td>
                            <button class="btn btn-danger w-100 decline-button"><i class="fas fa-times"></i></button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</main>

@section Scripts {
    <script src="~/js/administration/applications.js"></script>
}