@using WebSchool.ViewModels.Group
@model GroupSettingsViewModel  

@{
    Layout = "_Layout";
    ViewData["Title"] = "Administration";
}

<link rel="stylesheet" href="~/css/administration.css" />
 
<main class="main-container">
    <h1>Administration</h1>

    <section class="edit-name-section">
        <h2 class="edit-name-label">Change group name</h2>
        <form id="changeNameForm" asp-controller="Administration" asp-action="ChangeGroupName" method="post">
            <div id="errorMessages" asp-validation-summary="All" class="error-message"></div>
            <input type="hidden" asp-for="Id" />
            <input class="input-controll" asp-for="Name" id="groupNameInput"/>
            <button id="changeNameButton" class="change-name-button">Change</button>
        </form>
    </section>

    <table class="settings-table">
        <thead>
            <tr class="odd-row">
                <th>Section name</th>
                <th>Go to</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Members</td>
                <td><a class="go-to-link">Go to</a></td>
            </tr>

            <tr class="odd-row">
                <td>Applications</td>
                <td><a class="go-to-link">Go to</a></td>
            </tr>

            <tr>
                <td>Posts</td>
                <td><a class="go-to-link">Go to</a></td>
            </tr>
        </tbody>
    </table>
</main>

@section Scripts {
    <script src="~/js/administration.js"></script>
}