@using WebSchool.ViewModels.Users
@model MemberViewModel[]

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Members";
}

<main class="container col-md-8 offset-md-2">
    <h1>Members</h1>

    <table class="table table-striped w-100">
        <thead>
            <tr>
                <th width="50%">Member</th>
                <th class="25%">Role</th>
                <th width="25%">Settings</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <td class="pt-3">@member.Email</td>
                    <td class="pt-3">@member.Role</td>
                    <td><a asp-controller="Members" asp-action="Settings" asp-route-memberId="@member.Id" asp-route-groupId="@ViewData["GroupId"]" class="btn btn-primary w-100">Settings</a></td>
                </tr>
            }
        </tbody>
    </table>
</main>