@using WebSchool.ViewModels.Post
@model PostViewModel[]

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Posts";
}

<main class="main-container">
    <h1>Posts</h1>

    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Creator</th>
                <th>Content Overview</th>
                <th>Comments</th>
                <th>Created On</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var post in Model)
            { 
                <tr>
                    <td>@post.Creator</td>
                    <td>@post.Content</td>
                    <td>@post.CommentsCount</td>
                    <td>@post.CreatedOn</td>
                    <td><a>Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</main>

<style>
    .main-container {
        float: left;
        padding-left: 2%;
        font-size: 3vh;
    }
</style>