@using WebSchool.ViewModels.Users
@model MemberViewModel

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Member";
}

<main class="float-left w-25 pl-3">
    <h1>Member Settings</h1>

    <section>
        <p class="h5">Email: @Model.Email</p>

        <form asp-controller="Members" asp-action="SaveChanges" method="post">
            <input type="hidden" name="memberId" value="@Model.Id" />
            <input type="hidden" name="groupId" value="@Model.GroupId" />

            <div class="form-group">
                <label for="role">Role: </label>
                <select class="form-control float-left" id="role" name="role">
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                </select>
            </div>

            <button class="btn btn-primary w-100 mt-2">Save Changes</button>
        </form>
    </section>
</main>

@section Scripts {
    <script>
        const roleSelect = document.getElementById('role');
        roleSelect.value = "@Model.Role";
    </script>
} 