@using WebSchool.ViewModels.Group
@model CreateGroupInputModel 

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "New Group";
}

<link rel="stylesheet" href="~/css/createGroup.css" />

<form asp-controller="Groups" asp-action="Create" method="post" class="group-form">
    <div asp-validation-summary="All" class="error-message"></div>
    <h1>Create new group</h1>

    <p class="custom-error" id="customError"></p>
    <input asp-for="Name" class="name-input" placeholder="Group name..."  id="nameInput"/>
    <button class="create-button" id="createButton">Create</button>
</form>

@section Scripts {
    <script src="~/js/createGroup.js"></script>
}