@using WebSchool.ViewModels.Group
@model CreateGroupInputModel 

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "New Group";
}


<form asp-controller="Groups" asp-action="Create" method="post" class=" float-left col-md-5 offset-md-2">
    <div asp-validation-summary="All" class="text-danger"></div>
    <h1>Create new group</h1>

    <div class="form-group">
        <p class="custom-error" id="customError"></p>
        <input asp-for="Name" class="form-control" placeholder="Group name..." id="nameInput" />
    </div>
    <button class="btn btn-primary w-25" id="createButton">Create</button>
</form>

@section Scripts {
    <script src="~/js/createGroup.js"></script>
}