@using WebSchool.ViewModels.Group
@model GroupItemViewModel[]

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Joined groups";
}

<main class="container col-md-6 offset-md-3">
    <h1>All joined groups</h1>

    <table class="table table-striped w-100">
        <thead>
            <tr>
                <th>Group name</th>
                <th width="20%">Page</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var group in Model)
            {
                <tr>
                    <td class="align-middle">@group.Name</td>
                    <td><a class="btn btn-primary w-100" asp-controller="Groups" asp-action="Index" asp-route-groupId="@group.Id">Page</a></td>
                </tr>
            }
        </tbody>
    </table>
</main>