@{ 
    Layout = "_Layout";
}

@model WebSchool.Models.School.CreateSchoolInputModel

<div class="row">
    <img src="https://www.solidbackgrounds.com/images/2560x1440/2560x1440-dark-gray-solid-color-background.jpg" class="w-100" height="200" id="schoolImage"/>

    <form method="post" class="col-md-6 offset-3">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name">School Name</label>
            <input asp-for="Name" placeholder="School Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImageUrl">School Image</label>
            <input asp-for="ImageUrl" placeholder="School Image" class="form-control" id="imageUrl" />
            <span asp-validation-for="ImageUrl"></span>
        </div>

        <button class="btn btn-primary w-100">Create School</button>
    </form>
</div>

<script>
    
    let imageUrl = document.getElementById("imageUrl");
    imageUrl.addEventListener("input", (event) => {
        let imageElement = document.getElementById("schoolImage");
        imageElement.src = event.target.value;
    });
</script>