@{
    Layout = "_Layout";
}

@model WebSchool.ViewModels.Assignment.CreateAssignmentInputModel

<div class="row">
    <div class="col-md-6 offset-3">
        <form method="post" asp-area="Teacher" asp-controller="Assignment" asp-action="GiveAssignment">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input class="form-control" placeholder="Assignment Name" asp-for="AssignmentName" required />
                <span asp-validation-for="AssignmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="custom-select" asp-for="Signature" id="classesSelect">
                </select>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" asp-for="AssignmentContent" placeholder="Assignment content"></textarea>
                <span asp-validation-for="AssignmentContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" asp-for="DueDate" required />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points">Max Points</label>
                <input asp-for="Points" name="points" class="form-control" />
            </div>
            <button class="btn btn-primary w-100">Give Assignment</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/GiveAssignment.js"></script>
}