@using WebSchool.ViewModels.Assignment
@model GiveAssignmentInputModel

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Give assignment";
}

<main class="container">
    <form class="col-md-4 offset-md-4" asp-controller="Assignments" asp-action="Give" method="post">
        <h1>Give assignment</h1>
        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="hidden" asp-for="GroupId" />

        <div class="mb-3">
            <label>Assignment</label>
            <select asp-for="AssignmentId" class="form-select" id="assignmentsSelect">
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="DueDate"></label>
            <input asp-for="DueDate" class="form-control" value="@DateTime.Now" />
        </div>

        <button class="btn btn-primary">Give assignment</button>
    </form>
</main>

@section Scripts {
    <script src="~/js/assignments/give.js"></script>
}