@using WebSchool.ViewModels.Assignment
@model UserAssignmentsViewModel

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Assignments";
}

<main class="float-left p-3">
    <h1>Assignments</h1>
</main>