@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/login.css" />
 
<section>
    <form id="account" method="post" class="login-form">
        <h1>Use a local account to log in.</h1>
        <div asp-validation-summary="All" class="error-message"></div>

        <div class="input-container">
            <p class="input-label">Email</p>
            <input asp-for="Input.Email" class="input-controll" placeholder="your@email.com" />

        </div>

        <div class="input-container">
            <p class="input-label">Password</p>
            <input asp-for="Input.Password" class="input-controll" placeholder="strongpassword" />
        </div>

        <div>
            <button type="submit" class="login-button">Log in</button>
        </div>

        <div class="links">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}