<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/site.css" />
    <link href="/lib/font-awesome/css/all.css" rel="stylesheet">
    <script defer src="/lib/font-awesome/js/all.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <p class="navbar-logo">
                <a asp-area="" asp-controller="Home" asp-action="Index">WebSchool</a>
            </p>

            <partial name="_ButtonsPartial" />
        </nav>
    </header>

    <main role="main">
        @if (User.Identity.IsAuthenticated)
        {
            <partial name="_SideBar" />
        }

        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>