<link rel="stylesheet" href="~/css/sidebar.css" />

<aside class="sidebar">
    <div class="button-section" id="groupsSection">
        <p class="label"><i class="fas fa-users"></i> Groups</p>
        <div id="groupsContainer" class="groups-container">

        </div>
    </div>

    <div class="button-section">
        <p class="label"><i class="fas fa-poll"></i> Results</p>
    </div>

    <div class="button-section">
        <p class="label"><i class="fas fa-sticky-note"></i> Assignments</p>
    </div>

    <div class="button-section">
        <p class="label"><i class="fas fa-search"></i> Browse</p>
    </div>

    <div class="button-section">
        <p class="label">
            <a class="button-link" asp-controller="Groups" asp-action="Create"><i class="fas fa-plus-circle"></i> New Group</a>
        </p>
    </div>
</aside>

<script src="~/js/sidebar.js"></script>