<link rel="stylesheet" href="~/css/sidenav.css" />

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    @if (this.User.IsInRole("Admin"))
    {
        <a asp-area="Admin" asp-controller="Administration" asp-action="Panel">Administration</a>
        <a asp-area="Admin" asp-controller="Classes" asp-action="Index">Classes</a>
        <a asp-area="Admin" asp-controller="Subject" asp-action="Index">Subjects</a>
        <a asp-area="Admin" asp-controller="Administration" asp-action="Users">Users</a>
    }
    else if (this.User.IsInRole("Teacher"))
    {
        <a href="#">Assignments</a>
        <a href="#">Classes</a>
        <a href="#">Results</a>
    }
    else
    {
        <a href="#">Assignments</a>
        <a href="#">Results</a>
    }
</div>

<span class="nav-link text-dark" onclick="openNav()" id="openButton">Menu</span>

<script src="~/js/sidenav.js"></script>
