<link rel="stylesheet" href="~/css/sidebar.css" />

<aside class="sidebar">
    <div class="button-section">
        <p class="label"><i class="fas fa-users"></i> Groups</p>
    </div>

    <div class="button-section">
        <p class="label"><i class="fas fa-poll"></i> Results</p>
    </div>

    <div class="button-section">
        <p class="label"><i class="fas fa-sticky-note"></i> Assignments</p>
    </div>

    <div class="button-section">
        <p class="label"><i class="fas fa-search"></i> Browse</p>
    </div>

</aside>