@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <input class="form-control" placeholder="Student email" id="searchBar" />
        <div class="list-group" id="suggestBox">
        </div>
    </div>
</div>

<div>
    <div class="col-md-6 offset-3 mt-5">
        <p>Added students</p>
        <div class="list-group" id="addedBox">
        </div>
        <button class="btn btn-primary w-100">Add students</button>
    </div>
</div>

@section Scripts {
    <script>
        let addedEmails = [];
        const suggestBox = document.getElementById('suggestBox');
        const searchBar = document.getElementById("searchBar");
        const addedBox = document.getElementById('addedBox');
        const urlParams = new URLSearchParams(window.location.search);
        const xhttp = new XMLHttpRequest();

        searchBar.addEventListener('input', (event) => {
            let email = event.target.value;
            let signature = urlParams.get('signature');
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let data = JSON.parse(this.responseText);
                    suggestBox.innerHTML = "";
                    for (let i = 0; i < data.length; i++) {
                        if (addedEmails.includes(data[i])) {
                            continue;
                        }
                        suggestBox.innerHTML += `<a href="#" class="list-group-item list-group-item-action" onclick='addStudent("` + data[i] + `")'>` + data[i] + `</a>`;
                    }
                }
            }

            xhttp.open("GET", "/Users/GetUser?email=" + email + "&signature=" + signature, true);
            xhttp.send();
        });

        function addStudent(email) {
            if (addedEmails.includes(email)) {
                return;
            }
            addedEmails.push(email);
            searchBar.value = "";
            suggestBox.innerHTML = "";

            renderAddedStudents();
        }

        function removeStudent(email) {
            let index = addedEmails.indexOf(email);
            addedEmails.splice(index, 1);
            renderAddedStudents();
        }

        function renderAddedStudents() {
            addedBox.innerHTML = "";

            for (let i = 0; i < addedEmails.length; i++) {
                addedBox.innerHTML += `<a href="#" class="list-group-item list-group-item-action" onclick='removeStudent("` + addedEmails[i] + `")'>` + addedEmails[i] + `</a>`;
            }
        }

    </script>
}