@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <input class="form-control" placeholder="Student email" id="searchBar" />
        <div class="list-group" id="suggestBox">
        </div>
    </div>
</div>

<div>
    <div class="col-md-6 offset-3 mt-5">
        <p>Added students</p>
        <div class="list-group" id="addedBox">
        </div>
        <form method="post" asp-area="Admin" asp-controller="Classes" asp-action="AddStudents" id="addStudentsForm">
            <button class="btn btn-primary w-100" type="submit">Add students</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/AddStudents.js"></script>
}