@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <form method="post" asp-controller="Classes" asp-action="CreateClass">
            <div class="form-group">
                <label for="classSignature">Signature</label>
                <input name="signature" placeholder="Class signature" class="form-control" required />
            </div>
            <button class="btn btn-primary w-100">Create class</button>
        </form>
    </div>
</div>