.applications-container {
    float: left;
    margin-left: 2%;
    width: 50%;
}

.applications-table {
    width: 100%;
    font-size: 4vh;
    border: 1px solid black;
    text-align: left;
}

.odd-row {
    background: lightgray;
}

th {
    padding-left: 2%;
}

.role-select {
    width: 100%;
    font-size: 4vh;
}

.applicant-name {
    padding-left: 2%;
}

.action-button {
    width: 47%;
    font-size: 3.5vh;
}

.approve-button {
    color: white;
    background: #7499fc;
    border: 2px solid #7499fc;
    cursor: pointer;
}

    .approve-button:hover {
        background: #5885FF;
        border-color: #5885FF;
    }

.decline-button {
    color: white;
    background: #f26c2e;
    border: 2px solid #f26c2e;
    cursor: pointer;
}

    .decline-button:hover {
        background: #f22e2e;
        border: 2px solid #f22e2e;
    }
