.post-create-form {
    width: 50%;
    margin: 5% auto;
}

.post-textarea {
    width: 100%;
    max-width: 98%;
    min-width: 98%;
    min-height: 20vh;
    max-height: 20vh;
    padding: 5px;
    font-size: 3vh;
}

.post-form-button {
    width: 49%;
    float: right;
    border: 1px solid black;
    font-size: 3vh;
    background: white;
    padding: 0.5% 1%;
    border-radius: 5px;
    transition: background ease 0.2s;
}

    .post-form-button:hover {
        background: #5885AF;
        border-color: #5885AF;
        color: white;
        cursor: pointer;
    }

.error-message {
    color: red;
}
