.sidebar {
    width: 20%;
    height: 93vh;
    float: left;
    border-right: 2px solid black;
}

.button-section {
    width: 90%;
    font-size: 4vh;
    margin: 2% auto;
    border-radius: 5px;
    user-select: none;
}

.label {
    margin: 0;
    padding: 0;
    padding-left: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.button-section:hover {
    cursor: pointer;
    background: lightgray;
}

.groups-container {
    display: none;
}

.group-element {
    width: 85%;
    margin: 2% 0;
    padding-left: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.group-element a {
    text-decoration: none;
    color: inherit;
}

    .group-element:hover {
        background: #5885AF;
        color: white;
    }

.button-link {
    color: black;
    text-decoration: none;
}