@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.main {
    min-height: 100%;
    padding: 20px;
    padding-bottom: 40px;
}

.footer {
    height: 40px;
    margin-top: -40px;
}

.auto-complete {
    top: 85%;
    right: 95px;
    width: 198px;
}

hr {
    border: 2px solid black !important;
}