@{ 
    Layout = "_Layout";
}

@model WebSchool.Models.RegistrationLink.RegistrationLinkModel

<div class="row">
    <form class="col-md-6 offset-3" asp-controller="Users" asp-action="CreateUser" method="post">

    </form>
</div>