@using WebSchool.ViewModels.Group
@using WebSchool.ViewModels.Post
@model GroupViewModel

@{ 
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}

<partial name="_SideBar" />

<main class="col-md-9 text-center">
    <p>@Model.Name</p>

    @foreach (PostViewModel post in Model.NewestPosts)
    {
        <article>
            <h3>@post.Creator</h3>
            <p>@post.Content</p>
            <span>@post.CreatedOn</span>
        </article>
    }
</main>