<div class="row mt-5">
    <h3>Generated links:</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Created on</th>
                <th scope="col">Role</th>
                <th scope="col">Is used</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="linksTable">
        </tbody>
    </table>
</div>


<script src="~/js/GeneratedLinksTable.js"></script>