<div class="row mt-5">
    <h3>Created School classes:</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Class Signature</th>
                <th scope="col">Created On</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody id="classesTable">
        </tbody>
    </table>
</div>

<script src="~/js/GetClassesTable.js"></script>