@{
    Layout = "_Layout";
}

@model WebSchool.Models.Assignment.SolveAssignmentViewModel

<div class="row">
    <div class="col-md-8 offset-2 text-center">
        <h3>@Model.AssignmentName</h3>
        <p>@Model.AssignmentContent</p>

        <form method="post" asp-area="Student" asp-controller="Assignment" asp-action="Solve">
            <input type="hidden" value="@Model.Id" name="assignmentId" />
            <div class="form-group">
                <textarea class="form-control" rows="5" name="answerContent" placeholder="Type your answer here" required></textarea>
            </div>
            <button class="btn btn-primary w-100">Send Answer</button>
        </form>
    </div>
</div>