@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6 offset-3 text-center">
        <h3>Create subject</h3>
        <form method="post" asp-area="Admin" asp-controller="Subject" asp-action="CreateSubject">
            <div class="form-group mt-4">
                <input required placeholder="Subject name" class="form-control" name="subject" />
            </div>
            <button class="btn btn-primary w-100">Create Subject</button>
        </form>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-10 offset-1">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Created on</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody id="subjectsTable">
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        const xhttp = new XMLHttpRequest();
        const table = document.getElementById("subjectsTable");

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let data = JSON.parse(this.responseText);

                table.innerHTML = "";
                let counter = 1;
                for (let i = 0; i < data.length; i++) {
                    table.innerHTML += `<tr><td>` + counter + `</td><td>` + data[i].title + `</td><td>` + data[i].createdOn + `</td><td><a href='/Admin/Subject/Remove?id=` + data[i].id + `' class='btn btn-danger w-50 text-white'>Delete</a></td></tr>`;
                }
            }
        };

        xhttp.open("GET", "/Admin/Subject/GetSubjects", true);
        xhttp.send();
    </script>
}