@{
    Layout = "_Layout";
    ViewData["Title"] = "Browse";
}

<link rel="stylesheet" href="~/css/browse.css" />

<main class="browse-container">
    <form>
        <input id="groupNameInput" class="group-input" type="text" placeholder="Start typing group name..." />
        <button id="searchButton" class="search-button" type="button">Search</button>
    </form>

    <section class="found-groups-container">
        <table class="table table-sm table-striped table-bordered text-left">
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th width="25%">Join</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </section>
</main>

@section Scripts {
    <script src="~/js/browse.js"></script>
}