@{
    Layout = "_Layout";
    ViewData["Title"] = "Browse";
}

<main class="container">
    <div class="col-md-8 offset-md-2">
        <form>
            <label for="groupNameInput">Group name</label>
            <input id="groupNameInput" class="form-control" type="text" placeholder="Start typing group name..." />
        </form>

        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th width="70%">Group Name</th>
                    <th>Join</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
</main>

@section Scripts {
    <script src="~/js/browse.js"></script>
}