@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Browse";
}

<link rel="stylesheet" href="~/css/browse.css" />

<main class="browse-container">
    <form>
        <input id="groupNameInput" class="group-input" type="text" placeholder="Start typing group name..." />
        <button id="searchButton" class="search-button" type="button">Search</button>
    </form>

    <section class="found-groups-container">
        <table class="groups-table">
            <thead>
                <tr class="odd-row">
                    <th class="group-name-col">Group Name</th>
                    <th class="group-join-col">Join</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </section>
</main>

@section Scripts {
    <script src="~/js/browse.js"></script>
}