@using WebSchool.ViewModels.Post
@model CreatePostInputModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create Post";
}

<link rel="stylesheet" href="~/css/createPost.css" />

<form asp-controller="Posts" asp-action="Create" method="post" class="float-left col-md-5 offset-md-2 mt-3">
    <div asp-validation-summary="All" class="error-message"></div>
    <h1>Create a post</h1>

    <input type="hidden" asp-for="GroupId" value="@ViewData["GroupId"]" />
    
    <div class="form-group">
        <textarea asp-for="Content" rows="5" class="form-control" placeholder="Post content..."></textarea>
    </div>

    <button type="submit" class="btn btn-primary w-25">Create</button>
</form>