@using WebSchool.ViewModels.Post
@model CreatePostInputModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create Post";
}

<div class="container">
    <form asp-controller="Posts" asp-action="Create" method="post" class="col-md-4 offset-md-4 mt-3">
        <h1>Create a post in @ViewData["GroupName"]</h1>
        <div asp-validation-summary="All" class="error-message"></div>

        <input type="hidden" asp-for="GroupId" value="@ViewData["GroupId"]" />

        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" class="form-control" />
        </div>

        <div class="mb-3">
            <textarea asp-for="Content" rows="5" class="form-control" placeholder="Post content..."></textarea>
        </div>

        <button type="submit" class="btn btn-primary w-25">Create</button>
    </form>
</div>