@{ 
    Layout = "_Layout";
}

@model WebSchool.Data.Models.RegistrationLink

<div class="col-md-4 offset-4">
    <h2>Verifying payment...</h2>
    <p>Just a moment!</p>
    <form asp-controller="Users" asp-action="RegisterForm" method="post" id="form">
        <input type="hidden" value="@Model.Id" name="Id"/>
    </form>
</div>

<!-- Javascript code to make the page real looking-->
<script>
    setTimeout(() => {
        let form = document.getElementById("form");
        $('body').append(form);
        form.submit();
    }, 1000);
</script>