@{ 
    Layout = "_Layout";
}

<div class="col-md-4 offset-4">
    <h2>Verifying payment...</h2>
    <p>Just a moment!</p>
</div>

<!-- Javascript code to make the page real looking-->
<script>
    setTimeout(() => {
        window.location.replace("/");
    }, 1000);
</script>