@{ 
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6 offset-3 text-center">
        <h2>Just enter an email address</h2>
        <form method="post">
            <div class="form-group text-left mt-5">
                <label for="email">Email Address</label>
                <input type="email" required placeholder="Enter email address" class="form-control" name="email" />
            </div>

            <button class="btn btn-primary w-100">Send Email</button>
        </form>
    </div>
</div>