@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />

<main class="home-content">
    <h1>Welcome to WebSchool</h1>

    <article class="home-article">
        <p>WebSchool is trying to make the e-learning and e-teaching experience more pleasent and easy for everyone. There is an easy way of making, editing and giving assignments for the teachers. They also have a choice... They can let the system automatically check every assignment and calcuate the student grade or they can do it manually. As for the students, there is a simple way to solve assignments. Just few clicks. There is also a social side of the system. Every school has it's own forum. There you can find help by creating new post, give help by commenting under a post or just notify everybody of something that you thing is remarkable :). <cite><b>Go, leave mark behing you !</b></cite></p>
    </article>
</main>

<div class="image-container">
    <img src="~/images/learning.jpg" class="image" id="first" />
    <img src="~/images/books.jpg" class="image" id="second" />
    <img src="~/images/board.jpg" class="image" id="third" />
    <img src="~/images/pencil.jpg" class="image" id="fourth" />

    <div id="prev" class="image-button prev"><</div>
    <div id="next" class="image-button next">></div>
</div>

@section Scripts {
    <script src="~/js/home.js"></script>
}