@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 ">Welcome to WebSchool</h1>
    <div class="row mt-5">
        <div class="card col-md-4 offset-4">
            <div class="card-body">
                <h5 class="card-title text-justify">Create new School System</h5>
                <p class="card-text text-justify">With few clicks you can create your own School System with full support of post and comments. Classes, subjects, assignemnts and many more :) Come on, Join us!</p>
                <a href="#" class="btn btn-primary w-100">Let's Go</a>
            </div>
        </div>
    </div>
</div>
