@{ 
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6 offset-3 mt-5">
        <h3>An email was sent to you. Check your mail service for the registration link :)</h3>
    </div>
</div>